<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <!-- <welcome-file>index.jsp</welcome-file> -->
    <welcome-file>/WEB-INF/views/kaptcha.jsp</welcome-file>
  </welcome-file-list>
  
  
    
  
  <!--Kaptcha 验证码  --> 
    <servlet>  
        <servlet-name>kaptcha</servlet-name>  
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>  
         <init-param>  
            <param-name>kaptcha.border</param-name>  
            <param-value>no</param-value>  
        </init-param>  
       <!--  <init-param>  
            <param-name>kaptcha.border.color</param-name>  
            <param-value>105,179,90</param-value>  
        </init-param> -->       
        <init-param>  
            <param-name>kaptcha.textproducer.font.color</param-name>  
            <param-value>red</param-value>  
        </init-param>  
        <init-param>  
            <param-name>kaptcha.image.width</param-name>  
            <param-value>250</param-value>  
        </init-param>  
        <init-param>  
            <param-name>kaptcha.image.height</param-name>  
            <param-value>90</param-value>  
        </init-param>  
        <init-param>  
            <param-name>kaptcha.textproducer.font.size</param-name>  
            <param-value>70</param-value>  
        </init-param>  
       <init-param>  
            <param-name>kaptcha.session.key</param-name>  
            <param-value>KAPTCHA_SESSION_KEY</param-value>  
        </init-param>     
        <init-param>  
            <param-name>kaptcha.textproducer.char.length</param-name>  
            <param-value>4</param-value>  
        </init-param>
        <init-param>  
            <param-name>kaptcha.textproducer.font.names</param-name>  
            <param-value>宋体,楷体,微软雅黑</param-value>  
        </init-param>
        <!--去掉干扰线  -->     
        <init-param>  
		    <param-name>kaptcha.noise.impl</param-name>  
		    <param-value>com.google.code.kaptcha.impl.NoNoise </param-value>  
		</init-param>   
    </servlet>  
      <servlet-mapping>  
		<servlet-name>kaptcha</servlet-name>  
		<url-pattern>/static/images/kaptcha.jpg</url-pattern>  
	  </servlet-mapping>  
</web-app>
